@CHARSET "UTF-8";

body{
	background: ghostwhite;
	margin:0;
	padding:0;
}

.login-main-contents{
	text-align:center;
	margin-top:100px;
}

.post{
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 1px;
    width: 650px;
}

.comment{
    margin-top: 10px;
    width: 500px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 1px 1px 1px;
    border-radius: 5px;
    padding:8px;
    word-wrap: break-word;
}
.title{
	margin-bottom:20px;
}
.name{
	font-weight: bold;
	margin-bottom: 5px;
}


.text{
	margin-bottom: 20px;
	word-wrap: break-word;
}

.category{
	margin-bottom: 5px;

}


.comments-form{
	margin-top:10px;
	margin-bottom: 50px;
}

.commentError ul{
	list-style:none;
	color:red;
}

.errorMessages ul{
	list-style:none;
	color:red;
}

.validationMessages ul{
	list-style:none;
	color:red;
}
.loggedIn{
	font-weight: bold;
}
.logout{
	float:right;
	margin-right:20px;
}
.main-contents{
	margin-left: 70px;
}h1{
	font-size:25px;
}.header{
	margin-top:10px;
	margin-bottom:10px;
}

 .table{
	background-color:white;
	box-shadow: 1px 1px 1px;
 }
.register{
	margin-top:10px;
}
.table{

}th{
	padding:10px 5px 10px 5px;
}td{
	padding:10px 5px 10px 5px;
}
